<nav>
    <ul id="navContent" class="gridlayout-6">
        <img src="/assets/logo4.png" alt="Gladiator Bicycles" class="navimage"/>
        <div class="navbutton home current">
            <a href="/">Home</a>
        </div>
        <div class="navbutton products">
            <a href="/products">Products</a>
        </div>
        <div class="navbutton about">
            <a href="/about">About Us</a>
        </div>
        <div class="navbutton contact">
            <a href="/contact">Contact Us</a>
        </div>
    </ul>
</nav>