<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gladiator Bicycles</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    </head>
    
    <body>
        <nav>
            <ul id="navContent" class="gridlayout-6">
                <img src="/assets/logo4.png" alt="Gladiator Bicycles" class="navimage"/>
                <div class="navbutton home current">
                    <a href="/">Home</a>
                </div>
                <div class="navbutton products">
                    <a href="/products">Products</a>
                </div>
                <div class="navbutton about">
                    <a href="/about">About Us</a>
                </div>
                <div class="navbutton contact">
                    <a href="/contact">Contact Us</a>
                </div>
            </ul>
        </nav>
        <main class="mainContent">
            <div class="aboutinfo gridlayout-6 grey-card">
                <div class="abouttoptext">About Us</div>
                <img class="aboutoutside" src="/assets/outside.jpg" alt="Outside Store">
                <img class="aboutinside" src="/assets/inside.jpg" alt="Inside Store">
                <p class="abouttext p1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui 
                    officia deserunt mollit anim id est laborum. Sed ut 
                    perspiciatis unde omnis iste natus error sit voluptatem 
                    accusantium doloremque laudantium, totam rem aperiam, 
                    eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt explicabo. Nemo enim 
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, 
                </p>
                <p class="abouttext p2">
                    sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui
                    dolorem ipsum quia dolor sit amet, consectetur, adipisci 
                    velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
                    ad minima veniam, quis nostrum exercitationem ullam corporis 
                    suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                    voluptate velit esse quam nihil molestiae consequatur, vel 
                </p>
                <p class="abouttext p3">
                    illum qui dolorem eum fugiat quo voluptas nulla pariatur? 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse 
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.
                </p>
                <img src="/assets/warrantyImage.png" alt="30 Day warranty" class="aboutwarranty"/>
                <img src="/assets/bbb_accredited.png" alt="BBB Accredited" class="aboutbbb"/>
                <img src="/assets/csg100.png" alt="100% Customer Satisfaction Guarantee" class="aboutcsg"/>
            </div>
        </main>
        <footer>
            <span>Developed by: Joshua Swonger</span>
        </footer>
    </body>
</html>