<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') -%>
    </head>
    <body>
        <%- include('partials/nav') -%>
        <main class="mainContent">
            <div>
                <img src="/assets/Norco_Range.jpg" alt="Mountain Bike" class="bikebanner"/>
            </div>
            <div class="gridlayout-6">
                <div class="warranty grey-card">
                    <img src="/assets/warrantyImage.png" alt="30 Day warranty" class="warrantyImage"/>
                    <p class="warrantyText">
                        At Gladiator Bicycles, our goods are covered by warranty policies 
                        and return programs that ensure you can buy with confidence and enjoy 
                        your purchase to the fullest. We offer 30 day return policy to ensure 
                        that our customers enjoy their new bikes. No questions asked.
                    </p>
                    
                </div>
                <div class="shopby grey-card">
                    <div class="brandtext">Our Brands</div>
                    <div class="trek">
                        <a href="/products/trek">
                            <img src="/assets/trekbike.jpg" alt="Trek bike">
                            <p>Trek</p>
                        </a>
                    </div>
                    <div class="schwinn">
                        <a href="/products/schwinn">
                            <img src="/assets/schwinnbrand.jpg" alt="Schwinn bike">
                            <p>Schwinn</p>
                        </a>
                    </div>
                    <div class="giant">
                        <a href="/products/giant">
                            <img src="/assets/giant.jpg" alt="Giant bike">
                            <p>Giant</p>
                        </a>
                    </div>
                </div>
                <div class="shopby grey-card">
                    <div class="typetext">Our Types</div>
                    <div class="mountain">
                        <a href="/products/mountain">
                            <img src="/assets/mountainbike.jpg" alt="Trek bike">
                            <p>Mountain Bikes</p>
                        </a>
                        
                    </div>
                    <div class="cruiser">
                        <a href="/products/cruiser">
                            <img src="/assets/cruiserbike.jpg" alt="Schwinn bike">
                            <p>Cruiser Bikes</p>
                        </a>
                    </div>
                    <div class="road">
                        <a href="/products/road">
                            <img src="/assets/roadbike.jpg" alt="Giant bike">
                            <p>Road Bikes</p>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <%- include('partials/footer') -%>
    </body>
</html>